body{
  background-image: url(img/background.jpg);
  text-align: center;
}
a{
  text-decoration: none;
  font-family: cursive;
  font-size: 20px;
}
h1{
  font-family: monospace;
}
h2{
  font-family: monospace;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white ;
    color: blue;
    text-decoration-color: blue;
}

.top>ul>li{
  width: 25%;
  text-align: center;
  border-left: 1px solid #ccc;
  box-sizing: border-box;
}

li {
    float: left;
}

li a {
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
    li a:hover {
    background-color: #DC143C ;
}

label{
  text-align: left;
}
